<p class="addtocalendar" data-calendars="iCalendar, Google Calendar, Outlook">
  <var class="atc_event">
    <var class="atc_date_start">2016-10-22 17:00:00</var>
    <var class="atc_date_end">2016-10-22 23:00:00</var>
    <var class="atc_timezone">America/Vancouver</var>
    <var class="atc_title">Shara + Joe's Big Party!</var>
    <var class="atc_description">Share in their joy
as they unite their hearts in marriage. Ceremony begins at 5pm. Tasty dinner and enthusiastic dancing to follow, please visit http://joeandshara.com for further details.</var>
    <var class="atc_location">Great Hall at Green Lake, 7200 Woodlan Ave NE, Seattle, WA 98103</var>
    <var class="atc_organizer">Shara &amp; Joe </var>
    <var class="atc_organizer_email">hello@joeandshara.com</var>
  </var>
</p>
