<!-- Styles to use custom fonts in emails sent through MailChimp -->

<link rel="stylesheet" type="text/css" href="https://cdn.rawgit.com/josephrlee/joeandshara/master/assets/styles/fonts.css"/>

<style type="text/css">
  #templateBody .mcnButtonContent a,
  #templateBody .mcnFollowContent a,
  #templateBody .mcnTextContent,
  #templateBody .mcnTextContent a,
  #templateBody .mcnTextContent h1,
  #templateBody .mcnTextContent h2,
  #templateBody .mcnTextContent p,
  #templateBody .mcnTextContent ul,
  #templateColumns .mcnTextContent p,
  #templateColumns .mcnTextContent ul {
    font-family: 'Brandon Grotesque', Georgia !important;
  }
  #templateFooter .mcnTextContent,
  #templateFooter .mcnTextContent a,
  #templateFooter .mcnTextContent p,
  #templatePreheader .mcnTextContent,
  #templatePreheader .mcnTextContent p {
    font-family: 'Brandon Grotesque', 'Helvetica Neue', Helvetica, Arial, sans-serif !important;
  }
  @media only screen and (max-width: 480px) {
    .mcnButton {
      font-size: 17px !important;
      line-height: 26px !important;
    }
    .mcnButtonContent {
      padding: 12px !important;
    }
    .mcnButtonContentContainer {
      padding: 0 6px !important;
    }
    .mcnTextContent em.small {
      font-size: 16px;
    }
  }
  .mcnTextContent p.address {
    margin-top: 0 !important;
    padding-top: 0 !important;
  }
  @media screen and (min-width: 480px) {
    .mcnTextContent em.small {
      font-size: 20px !important;
    }
  }
  .mcnButton {
    font-size: 22px;
  }
  .mcnButtonContentContainer {
    border-bottom: solid 2px #cadcc8;
    padding: 0 10px;
    transition: all 0.3s ease !important;
  }
  .mcnButtonContentContainer:hover {
    background-color: #cadcc8 !important;
  }
  .mcnButtonBlockInner {
    padding-bottom: 0 !important;
  }
  .mcnCaptionBlockInner {
    padding-top: 20px !important;
  }
  #templateBody {
    padding-bottom: 0 !important;
  }
  #awesomewrap,
  #templateFooter .mcnTextContent img {
    display: none !important;
  }

</style>

<!--[if gte mso 9]> <style type=”text/css”> #templateBody .mcnTextContent, #templateBody .mcnTextContent p, #templateBody .mcnTextContent h1, #templateBody .mcnTextContent h2, #templateBody .mcnTextContent a, { font-family: Georgia, serif !important; } #templateFooter .mcnTextContent, #templateFooter .mcnTextContent p, #templateFooter .mcnTextContent a { font-family: Arial, sans-serif !important; } </style> <![endif]-->
