<!-- Styles to use custom fonts in emails sent through MailChimp -->

<link rel="stylesheet" type="text/css" href="https://cdn.rawgit.com/josephrlee/joeandshara/master/assets/styles/fonts.css"/>

<style type="text/css">
  #templateBody .mcnButtonContent a,
  #templateBody .mcnFollowContent a,
  #templateBody .mcnTextContent,
  #templateBody .mcnTextContent a,
  #templateBody .mcnTextContent h1,
  #templateBody .mcnTextContent h2,
  #templateBody .mcnTextContent p,
  #templateBody .mcnTextContent ul,
  #templateColumns .mcnTextContent p,
  #templateColumns .mcnTextContent ul {
    font-family: 'Brandon Grotesque', Georgia !important;
  }
  #templateFooter .mcnTextContent,
  #templateFooter .mcnTextContent a,
  #templateFooter .mcnTextContent p,
  #templatePreheader .mcnTextContent,
  #templatePreheader .mcnTextContent p {
    font-family: 'Brandon Grotesque', 'Helvetica Neue', Helvetica, Arial, sans-serif !important;
  }
  .mcnCaptionBlockInner {
    padding-top: 20px !important;
  }
  #templateBody {
    padding-bottom: 20px !important;
  }

</style>

<!--[if gte mso 9]> <style type=”text/css”> #templateBody .mcnTextContent, #templateBody .mcnTextContent p, #templateBody .mcnTextContent h1, #templateBody .mcnTextContent h2, #templateBody .mcnTextContent a, { font-family: Georgia, serif !important; } #templateFooter .mcnTextContent, #templateFooter .mcnTextContent p, #templateFooter .mcnTextContent a { font-family: Arial, sans-serif !important; } </style> <![endif]-->
