---

---

/*--- Stylesheet Joe & Shara's Wedding website  --- */

@import "normalize";
@import "bourbon/bourbon";
@import "base/base";
@import "neat/neat";


* {
  box-sizing: border-box;
}


.hero {
  $large-screen: 50em !default;
  align-items: center;
  background: url("#{$img-path}/hero-banner.jpg");
  @include retina-image(#{$img-path}/hero-banner, cover);
  background-position: right;
  background-size: none;
  display: flex;
  justify-content: center;
  min-height: 100vh;
  padding: 2em;

  @include media($large-screen) {
    background-size: cover;
    background-position: left;
    justify-content: flex-end;
  }

  .hero-content {
    max-width: 20em;
    text-align: center;

    @include media($large-screen) {
      text-align: left;
    }
  }

  .hero-logo {
    margin: auto;
  }
}
