---
---

/*--- Stylesheet Joe & Shara's Wedding website  --- */
@import "normalize";
@import "bourbon/bourbon";
@import "neat/neat";
@import "base/base";
* {
  box-sizing: border-box;
}
// LAYOUT
// ========================================================
body {
  @include media($large-screen) {
    background: $gradient, url("#{$img-path}/invite-image.jpg");
    @include image-2x("#{$img-path}/invite-image_2x.jpg");
    background-position: bottom right;
    background-size: 45%;
    background-attachment: fixed;
    background-repeat: no-repeat;
  }
}
header {
  min-height: 90vh;
}
footer,
header,
main {
  @include outer-container;

  padding: $gutter;
  @include media($small-screen) {
    padding: $gutter/1.5;
  }
  @include media($medium-screen) {
     @include span-columns(12);
    padding: $gutter $gutter*2;
  }
  @include media($large-screen) {
     @include span-columns(7);
  }
}
main {
  background: white;
  section {
    padding: $gutter*3 0 $gutter;
    min-height: 100vh;
  }
}
footer {
  background: white;
}
nav {
  float: none;
  position: fixed;
  background: lighten($light-gray, 15%);
  width: 100%;
  padding: $gutter/2 $gutter/1.5;
  z-index: 100;
  @include media ($large-screen) {
    padding: 0;
    background: transparent;
    width: auto;
    top: $gutter;
    right: $gutter;
  }
}
ul.navigation-menu {
  clear: both;
  margin: 0 auto;
  overflow: visible;
  padding: 0;
  width: 100%;
  @include media ($large-screen) {
    display: block;
    margin: 0;
    padding: 0;
  }
  &.show {
    display: block;
  }
}
// Nav items
.nav-link {
  display: inline;
  text-align: right;
  margin-right: $gutter/2;
  &:last-of-type {
    margin-right: 0;
  }
  @include media ($medium-screen) {
    background: transparent;
    display: inline;
    text-decoration: none;
    width: auto;
  }
  a {
    color: $action-color;
    display: inline-block;

  }
}
// INTRO
// ========================================================
.intro {
  background: lighten($tangerine, 10%);
  padding-top: $gutter*2;
  @include media($small-screen) {
    padding-top: $gutter*3;
  }
  h1 {
    margin-bottom: 4vw;
    font-size: 16vmin;
    line-height: 0.85;
    font-weight: 400;
    color: white;
    @include media($medium-screen) {
      font-size: 14vw;
      margin-bottom: 4vw;
    }
    @include media($large-screen) {
      font-size: 8vw;
      margin-bottom: 2.5vw;

    }
    @include media($xlarge-screen) {
      font-size: 9vw;
    }
  }
  p {
    font-size: 5.75vw;
    @include media($medium-screen) {
      font-size: 5vw;
    }
    @include media($large-screen) {
      font-size: 2.75vw;
    }
    @include media($xlarge-screen) {
      font-size: 3vw;
    }
    margin-bottom: $gutter*.25;
    color: white;
  }
  p+p {
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 1px;
    font-size: 3vmin;
    margin-bottom: $gutter*3;
    @include media($medium-screen) {
      font-size: 2.25vw;
    }
    @include media($large-screen) {
      font-size: 1.5vw;
    }
  }
  .genericon-expand {
    color: white;
  }
}
// LOCATION
// ========================================================
.location {
  p {
    font-weight: 500;
    &:first-of-type {
      position: relative;
      z-index: 1;
      @include media($medium-screen) {
        font-size: 1.75vw;
      }

      margin-bottom: $gutter*3;
      &:after {
        content: '';
        display: inline-block;
        position: absolute;
        right: 0;
        top: 50%;
        transform: translateY(-50%);
        float: right;
        width: 15vmin;
        height: 15vmin;
        border-radius: 50%;
        background-color: rgba($tangerine, 0.2);
        vertical-align: middle;
        z-index: -1;
      }
    }
  }
  .map {
    margin-bottom: $gutter;
    margin-top: $gutter/2;
  }
  figcaption {
    background: lighten($tangerine, 30%);
    position: relative;
    padding: $gutter/2 $gutter;
    font-size: smaller;
    margin-top: -$gutter/2;
  }
}
// MAP
// ========================================================
.google-maps {
  height: 0;
  overflow: hidden;
  padding-bottom: 56.25%; // For ratio 16:9. 75% if ratio is 4:3
  position: relative;
  margin-bottom: $gutter;
  embed,
  iframe,
  object {
    @include position(absolute, 0 null null 0);
    @include size(100%);
  }
}
.scrolloff {
  pointer-events: none;
}
// RSVP
// ========================================================
.form {
  aside {
    background: lighten($mint, 5%);
    padding: $gutter;
    border-radius: $base-border-radius;
    margin-bottom: $gutter;
  }
}
// COUNTDOWN
// ========================================================
.countdown {
  @include media($large-screen) {
    position: fixed;
    right: $gutter;
    bottom: $gutter;
  }
  div {
    display: block;
    float: left;
    margin-left: 1vw;
    font-size: 8vmin;
    font-weight: 400;
    line-height: 1;
    text-align: center;
    font-style: normal;
    color: lighten($tangerine, 20%);
    @include media($medium-screen) {
      font-weight: 600;
      font-size: 1.5vw;
      text-shadow: 0 0 $gutter $base-font-color;
    }
    span {
      display: block;
      border-top: 0.25vh solid lighten($tangerine, 20%);
      padding-top: $gutter/3;
      margin-top: $gutter/3;
      font-size: 4vmin;
      text-transform: uppercase;
      @include media($medium-screen) {
        font-size: 1vw;
        text-shadow: 0 0 $gutter $base-font-color;
      }
    }
  }
  div:first-child {
    margin-left: 0;
  }
}

// FOOTER
// ========================================================
footer {
  p {
    // @include media($medium-screen) {
    //   position: fixed;
    //   bottom: $gutter;
    //   right: $gutter;
    //   font-style: normal;
    //   text-shadow: 0 0 $gutter $base-font-color;
    //   margin-bottom: 0;
    //   a {
    //     color: white;
    //     &:hover {
    //       color: $mint;
    //     }
    //   }
    // }
  }
}
