/*- - - - - - - - - - - - - - - - - - - - -

Title : Custom Wufoo Form Styles for Joe & Shara's Wedding!
URL : http://joeandshara.com

Last Updated : June 5, 2016

- - - - - - - - - - - - - - - - - - - - -

/* Hide Stuff */

#logo, .powertiny, form span.req, form li.error p.error, .create-message, .start-cta, .embed .confirm .logo-container {
    display: none !important;
}

/* Layout */
form li#fo2li10 span input.fn, form li#fo3li10 span input.fn, form li#fo3li23 span input.fn {
    margin-right: 10px;
}
form li.complex div span.left, form li.complex div span.right {
    width: 47% !important;
}
@media only screen and (max-width: 580px) {
    form li.complex div span.left, form li.complex div span.right, form li#fo2li10 span, form li#fo3li10 span, form li#fo3li23 span {
        width: 100% !important;
    }
    input.text, input.search, textarea.textarea {
        width: 90%;
        max-width: 90%;
        min-width: 90%;
    }
    select.select {
        width: 96%;
        max-width: 96%;
        min-width: 96%;
    }

}
input.checkbox, input.radio {
    margin-left: 4px;
}

/* Typography */

form li {
    padding: 6px 0 8px;
}
form li.buttons{
  padding:10px 1% 10px 0 !important;
}
form li div label, form li span label {
    font-size: 16px !important;
}
form li span label {
    margin-top: -75px;
    padding-bottom: 75px;
}

#title1, #title10, #title23 {
    margin-bottom: 1em;
}
#title9 {
    margin-bottom: 0;
}
form input.text, input.search, textarea.textarea, select.select {
    border: none !important;
    border-bottom: solid 2px #E1F6DE !important;
    background: rgba(0, 0, 0, .06) !important;
    background-image: none !important;
    padding: 6px 10px !important;
    border-radius: 0;
    outline: none;
    transition: all 0.30s ease-in-out;
    -webkit-appearance: none;
}
select.select {
    font-family: "brandon-grotesque", "Helvetica Neue", Helvetica, Arial, sans-serif;
    -webkit-appearance: none;
    border-radius: 0;
}
form input.text:focus, input.search:focus, textarea.textarea:focus, select.select:focus {
    outline: none !important;
    border-bottom-color: #FD9442 !important;
    background: rgba(0, 0, 0, .08) !important;
}
button, input[type="button"], input[type="reset"], input[type="submit"] {
    appearance: none;
    background-color: #E1F6DE;
    border: 0;
    border-bottom: solid 2px #b4c5b2;
    border-radius: 0;
    color: #525557;
    cursor: pointer;
    display: inline-block;
    font-family: "brandon-grotesque", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 1.5em;
    -webkit-font-smoothing: antialiased;
    font-weight: 600;
    line-height: 1;
    padding: 1em 1.75em;
    text-decoration: none;
    transition: all 0.30s ease-in-out;
    user-select: none;
    vertical-align: middle;
    white-space: nowrap;
    -webkit-appearance: none;
}
button:hover, button:focus, input[type="button"]:hover, input[type="button"]:focus, input[type="reset"]:hover, input[type="reset"]:focus, input[type="submit"]:hover, input[type="submit"]:focus {
    background-color: #b4c5b2;
    outline: none !important;
}
button:disabled, input[type="button"]:disabled, input[type="reset"]:disabled, input[type="submit"]:disabled {
    cursor: not-allowed;
    opacity: 0.5;
    outline: none !important;
}
button:disabled:hover, input[type="button"]:disabled:hover, input[type="reset"]:disabled:hover, input[type="submit"]:disabled:hover {
    background-color: #E1F6DE;
    outline: none !important;
}

/* Errors */

form li#errorLi, form li.error-container {
    border-radius: 0 !important;
    padding: 10px !important;
    text-align: left;
    font-family: "brandon-grotesque", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
#errorMsg b {
    border-radius: 0 !important;
}
form li.error {
    background-color: transparent !important;
}
form li.error input {
    background-color: rgba(255, 223, 223, .7) !important;
}
#errorMsgLbl {
    font-size: 140%;
}
#errorMsg {
    font-size: 120%;
}

/* Submit */

.embed .confirm {
  padding: 0 !important;
}
.embed #container.confirm {
  background-color: #E1F6DE !important;
  padding: 1.53933em 1.618em !important;
  margin: 1.618em 0 !important;
  border-radius: 3px !important;
}
.embed .confirm h2 {
    text-align: left !important;
    margin: 0 !important;
    padding: 0 0 1em !important;
    width: 90% !important;
    font-size: 2.25em !important;
    color: #F79344 !important;
}
