 /*- - - - - - - - - - - - - - - - - - - - -

 Title : Custom Wufoo Form Styles for Joe & Shara's Wedding!
 URL : http://joeandshara.com

 Last Updated : June 5, 2016

- - - - - - - - - - - - - - - - - - - - -

/* - - - Default - - - */

/* Logo */
#logo, .powertiny {display: none !important;}

/* Typography */


form li div label, form li span label {
  font-size: 16px !important;
}
