---
layout: default
footer_scripts: "<script type='text/javascript' src='/assets/js/home.js'></script>"
---

  <header>
    <h2 class="title">{{page.title}}</h2>
    <h3 class="date">{{ page.event_date | date: '%B %d, %Y' }}</h3>
  </header>
  <main>
    {{ content }}
    {% include form.html %}
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2686.1699072205665!2d-122.32707554882363!3d47.68112017908753!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x5490146d3be21ac5%3A0x30716870a6a9a050!2sGreat+Hall+at+Green+Lake!5e0!3m2!1sen!2sus!4v1465802885124" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
  </main>
  <footer>
    <p>Joe &amp; Shara 2016</p>
  </footer>
