---
layout: default
---

<header class="intro" id="welcome">
  {{ content }}
  <a class="genericon genericon-expand" href="#intro"></a>
</header>
<main>
  <section class="location" id="intro">
    {{ page.location_text | markdownify }}
    {% for map %}
      <figure class="map">
        <figcaption>
          {{ map.caption }}
        </figcaption>
        <a href="{{ map.url }}" title="Click her for directions"><img src="{{ map.image }}" alt="Map of Great Hall"/></a>
      </figure>
    {% endfor %}
    <a class="genericon genericon-expand" href="#accomodations"></a>
  </section>
  <section id="accomodations">
    {{ page.accommodations_text | markdownify }}
    <a class="genericon genericon-expand" href="#registry"></a>
  </section>
  <section class="registry" id="registry">
    {{ page.registries_text | markdownify }}
    <a class="genericon genericon-expand" href="#rsvp"></a>
  </section>
  <section class="form" id="rsvp">
    {{ page.rsvp_text | markdownify }}
    {% include rsvp.html %}
    <aside>
      {{ page.kids_text | markdownify }}
    </aside>
  </section>
  <div class="countdown"></div>
</main>
<footer>
  {{ page.footer_text | markdownify }}
</footer>
