// Social Network Icons
@font-face {
  font-family: 'Genericons';
  font-style: normal;
  font-weight: normal;
  src: url("/assets/fonts/genericons/Genericons.eot?#iefix") format("embedded-opentype"), url("/assets/fonts/genericons/Genericons.woff") format("woff"), url("/assets/fonts/genericons/Genericons.ttf") format("truetype"), url("/assets/fonts/genericons/Genericons.svg#genericonsregular") format("svg");
}

/** ARROWS **/
.genericon-expand:before {
  -webkit-font-smoothing: antialiased;
  content: '\f431';
  display: block;
  font: normal 48px / 1 'Genericons';
  vertical-align: middle;
  padding-top: $gutter/2;
  text-indent: $gutter;
  text-shadow: rgba(0,0,0,.3) 0 0 30px;
}
.genericon-expand {
  cursor: pointer;
  animation: fade 1s infinite;
  -webkit-animation: fade 1s infinite;
  text-decoration: none;
  display: block;
  color: $action-color;
}
.genericon-expand:hover {
  color: $action-color;
}
body {
  color: $base-font-color;
  font-family: $base-font-family;
  font-size: $base-font-size;
  line-height: $base-line-height;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $heading-font-family;
  color: $header-font-color;
  font-size: modular-scale(1);
  line-height: $heading-line-height;
  margin: 0 0 $small-spacing/3;
}
h1 {
  font-size: 6vw;
}
h2 {
  font-size: 5vw;
}
h3 {
  font-size: 3vw;
  @include media($small-screen) {
    font-size: modular-scale(2);
  }
}
h4 {
  font-size: 3vw;
}
h5 {
  font-size: modular-scale(2);
}
h6 {
  font-size: modular-scale(1);
}

p {
  margin: 0 0 $small-spacing;
}

a {
  color: $action-color;
  text-decoration: none;
  transition: color $base-duration $base-timing;

  &:active,
  &:focus,
  &:hover {
    color: shade($action-color, 25%);
  }
}

hr {
  border-bottom: $base-border;
  border-left: 0;
  border-right: 0;
  border-top: 0;
  margin: $base-spacing 0;
}
